version: '3'

services:
###> doctrine/doctrine-bundle ###
  mailhog:
    image: mailhog/mailhog
    logging:
      driver: 'none'  # disable saving logs
    ports:
      - 1025:1025 # smtp server
      - 8025:8025 # web ui
  database:
    image: mariadb:latest
    container_name: 'blogpress'
    restart: always
    ports:
      - '3306'
    environment:
      MYSQL_ROOT_PASSWORD: 'mariadbroot'
      MYSQL_USER: 'mariadb'
      MYSQL_PASSWORD: 'mariadb'
      MYSQL_DATABASE: 'blogpress_db'
      # You may use a bind-mounted host directory instead, so that it is harder to accidentally remove the volume and lose all your data!
      # - ./docker/db/data:/var/lib/postgresql/data:rw
###< doctrine/doctrine-bundle ###

volumes:
###> doctrine/doctrine-bundle ###
  db-data: {  }
  db-admin-data: { }
###< doctrine/doctrine-bundle ###
